@charset "utf-8";
@import '~bulma/bulma.sass';

html, body {
	height: 100%;
	width: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.on-mobile-higher {
  @include mobile {
    height: 54px;
  }
}